html, body {
    padding: 0;
    margin: 0;
    
}
#nav-header {
    position: static;
    display: flex;
    flex-direction: row;
    /* Set in combination with height of Map container to fill screen and avoid overflow,
    SASS could help calculate values automatically. */
    height: 7vh;
    top:0;
    left:0;
}
#search-text {
    width: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
